body {
    font-family: Arial, sans-serif;
    background-color: #3a3939;
    margin: 0;
    align-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#containerGaleria {
    margin-left: 170px;
    width: 1280px;
    background-color: rgb(42, 5, 61);
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.youtube-video {
    margin: 30px;
}
.youtube-video iframe {
    width: 560px; /* Largura do vídeo */
}

h1 {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: rgb(42, 5, 61); /* Fundo roxo escuro */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
    margin-top: 20px;
}

.menu li {
    margin-bottom: 5px;
}

.menu a {
    color: #ccc; /* Texto cinza */
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.menu a:hover {
    color: #fff; /* Texto branco ao passar o mouse */
}

.menu-content {
    display: none;
    background-color: #292929;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.menu-content p {
    margin: 0;
}
