body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 30px;
    font-family: Arial, sans-serif;
    background-color: #3a3939; /* Fundo roxo escuro */
    color: #ffffff; /* Texto cinza */
}

#container {
    width: 400px;
    margin: 0 auto;
}

h1 {
    color: #000000; /* Texto cinza */
    text-align: center;
}

#macForm, #macCopy {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #483D8B; /* Fundo roxo escuro */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
    margin-top: 20px;
}

label, H2 {
    color: #ccc; /* Texto cinza */
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #eee; /* Fundo cinza claro */
    color: #333; /* Texto preto */
}

button {
    padding: 10px;
    background-color: #800080; /* Roxo mais intenso */
    color: #fff; /* Texto branco */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
    margin-top: 15px;
}
.button a{
    align-items: start;
    background-color: #800080;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 45px;
}

button:hover {
    background-color: #4B0082; /* Roxo mais escuro ao passar o mouse */
}

#onuList, #routerList {
    color: #000000;
    width: 300px;
    height: 50px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #ddd; /* Fundo cinza claro para as listas */
    border-radius: 5px; /* Bordas arredondadas */
}

#copyButton {
    margin-top: 20px;
    padding: 10px;
    background-color: #800080; /* Roxo mais intenso */
    color: #fff; /* Texto branco */
    border: none;
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer;
}

#copyButton:hover {
    background-color: #4B0082; /* Roxo mais escuro ao passar o mouse */
}
